# Terraform (cache local e estado local)
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# Logs e variáveis locais comuns
**/terraform.tfvars
**/terraform.tfvars.json
**/crash.log

# Python venv
.venv/
**/.venv/

# Azure Functions settings locais
**/local.settings.json
azure-credentials.json
azure-credentials.json

# Terraform plan
**/tfplan
*.tfplan

# Python cache
**/__pycache__/
*.pyc
azure-credentials-min.json
azure-credentials-min.json
